.header{
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  font-weight: 400;
  background: #fff;
}
.top_header{
  background: #000;
  padding: 1rem 0;
}
.container{
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin-right: 18.56rem;
  margin-left: 18.56rem;
}
.content_row{
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}
.social_content{
  width: 100%;
  position: relative;
  text-align: left;
  flex: 0 0 75%;
  max-width: 75%;
}
.social_content>a{
  color: #fff;
  opacity: .5;
  padding: 0.5rem;
  transition: .3s all ease;
  text-decoration: none;
}
.social_content>a:hover{
  opacity: 1;
  color: #fff;
}
.social_media>i>svg{
  font-size: 1.8rem;
}
.search_content{
 flex: 0 0 25%;
 max-width: 25%;
 position: relative;
 width: 100%;
 min-height: 0.1rem;
}
.search_top_form{
  position: relative;
  float: right;
}
.search_icon_top{
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
.search_icon_top>i>svg{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search_top_form>input{
  color: #fff;
  background: #212121;
  width: inherit;
  min-width: 300px;
  border: none;
  transition: .3s all ease;
  padding: 0.4rem 3.0rem 0.4rem 1.5rem;
  font-size: 1.6rem;
  font-family: "Montserrat";
  line-height: inherit;
  margin: 0;
  overflow: visible;
}
.search_top_form>input:active, .search_top_form>input:focus {
  background: #333333;
  outline: none;
}
.logo_row{
  padding-top: 4.8rem;
  display: flex;
  flex-wrap: wrap;
  margin-right: -1.5rem;
  margin-left: -1.5rem;
}
.logo_text_centre{
  position: relative;
  text-align: center;
  flex: 0 0 100%;
  min-height: 0.1rem;
  max-width: 100%;
  padding: 0 1.5rem 0 1.5rem;
}
.site_logo>a{
  color: #000;
  font-weight: 500;
  font-size: 9rem;
  font-family: "Montserrat";
  transition: .3s all ease;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
.navbar{
  position: relative;
  display: flex;
  padding: 0.5rem 1rem;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;
}
.navbar>.container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom: 0.1rem solid #e6e6e6;

}
.navbar_content{
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
}
.content_list{
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0;
}
.nav_item,.nav_item_dropdown{
  display: block;
  padding: 1.7rem 1rem;
  font-size: 1.4rem;
  font-family: "Montserrat";
  outline: none;
  text-transform: uppercase;
  letter-spacing: .05em;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}
.nav_item>a,.nav_item_dropdown>a{
  transition: .3s all ease;
  text-decoration: none;
  background-color: transparent;
  color: #000;
  font-weight: 500;

}
.dropdown_menu{
  position: absolute;
  font-size: 14px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 0.2rem 3.0rem 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
  float: none;
  top: 5rem;
  left: 62rem;
  z-index: 1000;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
}
.dropdown_menu1{
  position: absolute;
  font-size: 14px;
  border-radius: 0px;
  border: none;
  box-shadow: 0 0.2rem 3.0rem 0px rgba(0, 0, 0, 0.2);
  min-width: 13em;
  margin-top: -10px;
  float: none;
  top: 5rem;
  left: 70rem;
  z-index: 1000;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
}
.dropdown_menu ::before{
  content: " ";
  position: absolute;
  height: 2rem;
  top: -0.8rem;
  left: 2rem;
  width: 1.5rem;
  transform: rotate(45deg);
  background-color: #fff;

}
.dropdown_menu1 ::before{
  content: " ";
  position: absolute;
  height: 2rem;
  top: -0.8rem;
  left: 2rem;
  width: 1.5rem;
  transform: rotate(45deg);
  background-color: #fff;

}
.dropdown_menu_item{
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown_menu>a,.dropdown_menu1>a{
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
}